
<h1>{{appName}}</h1>
<mat-card class="body" >
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <ul *ngFor='let quote of quotes;let i=index'>
    <mat-card class="holder">
    {{quote.say}}<br>
    <div *ngIf='quote.showDetails'>
      <app-quote-detail [quote]='quote'></app-quote-detail>
    </div>
    
    <button  mat-button color="accent" (click)='toggleQuote(i)'> More</button>
    <button  mat-mini-fab color="warn" (click)='deleteQuote(i)'><mat-icon>delete</mat-icon></button>
   <p>
    <button mat-button color="primary"(click)='addVote(i)'>Likes</button>{{quote.upVote}} <br><br>
    <button mat-button color="warn" (click)='reduceVote(i)'>Dislikes</button> {{quote.downVote}}
    </p>
    </mat-card>
  </ul>
  
</mat-card>
