<h1>{{appName}}

</h1><app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

<div >
  <ul *ngFor='let quote of quotes;let i=index'>
    <div class=holder>
    {{quote.say}}<br>
    <div *ngIf='quote.showDetails'>
      <app-quote-detail [quote]='quote'></app-quote-detail>
    </div>
    
    <button (click)='toggleQuote(i)'> More</button>
    <button (click)='deleteQuote(i)'>Delete</button>
   <p>
    <button (click)='addVote(i)'>Likes</button>{{quote.upVote}} <br><br>
    <button (click)='addVote(i)'>Dislikes</button> {{quote.downVote}}
    </p>
    </div>
  </ul>
  
</div>
